{% include 'base.html' %}
<SCRIPT type="text/javascript">
function clickNode(treeid) {
    $("#treeid").val(treeid);
    changeMain();
}
function clickMode(modename) {
    $("#modename").val(modename);
    changeMain();
}
function changeMain() {
    modename = $("#modename").val();
    treeid = $("#treeid").val();
    $.get("/updatemain", {"modename":modename,"treeid":treeid}, function(data){
    if (data == 'ok') {
        url = "/" + modename + "?treeid=" + treeid;
        $('#Frame_main').attr("src",url);
    } else {
       window.location.reload();
    }    
    });
}
</SCRIPT>

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">MLS WWWOP</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                    {{ userzhname }}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="admin"><i class="fa fa-gear fa-fw"></i>后台中心</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            <a href="#" onclick="clickMode('main');">主机管理</a>
                            <a href="#" onclick="clickMode('role');">角色权限管理</a>
                        </li>
                    </ul>
                </div>
            <iframe frameborder="0" scrolling="yes"   src="/mtree"   id="Frame_mtree"></iframe>
                   <!-- <div class="zTreeDemoBackground left"><ul id="treeDemo" class="ztree"></ul></div>-->
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
            <iframe width="100%" height="1800" frameborder="0" scrolling="yes"   src="/{{modename}}?treeid={{treeid}}"   id="Frame_main"></iframe>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
<div id="rMenu">
    <ul>
        <li id="m_add" onclick="addTreeNode();">增加节点</li>
        <li id="m_del" onclick="removeTreeNode();">删除节点</li>
        <li id="m_reset" onclick="resetTree();">恢复zTree</li>
    </ul>
</div>

<input type="hidden" id="treeid" value="{{ treeid }}">
<input type="hidden" id="modename" value="{{ modename }}"> 
</body>

</html>
